<html>
    <head>
        <meta charset="utf8">
        <title>Telegram AdminBot</title>
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>

    <body>
        <header>
            <div class="container">
                <%- include('common/components/top-bar/top-bar.component.ejs') %>
            </div>
        </header>

        <main class="main-content">
            <div class="container">
                <%- include('common/components/users/users.component.ejs', {users: users}) %>
            </div>

            <div class="main-actions">
                <div class="container">
                    <%- include('common/components/actions/actions.component.ejs') %>
                </div>
            </div>
        </main>

        <%- include("common/components/message-dialog/message-dialog.component.ejs") %>
        <%- include("common/components/messages-history/messages-history.component.ejs") %>
        <%- include("common/components/messages-search/messages-search.component.ejs") %>
        
        <script src="/jquery/jquery-3.3.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>